<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- <link href="../css/styles2.css" rel="stylesheet" /> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="w-screen h-screen flex justify-center items-center
    bg-gradient-to-br from-purple-700 to-amber-700">
        <form class="p-10 bg-white rounded-xl drop-shadow-lg space-y-5" action="/register" method="Post">
            <h1 class="text-center text-3xl">Kinda Code</h1>
            <div class="grid grid-cols-2 gap-4">
                <div class="flex flex-col space-y-2">
                    <!-- <label class="text-sm font-light" for="email">Email</label> -->
                    <input type="text" name="firstname" class="form-control block w-full px-3 py-1.5 text-base font-normal border border-solid border-gray-300 rounded ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="First Name"
                    />

                </div>
                <div class="flex flex-col space-y-2">
                    <!-- <label class="text-sm font-light" for="email">Email</label> -->
                    <input type="text" name="lastname" class="form-control block w-full px-3 py-1.5 text-base font-normal border border-solid border-gray-300 rounded ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Last Last"
                    />

                </div>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div class="flex flex-col space-y-2">
                    <!-- <label class="text-sm font-light" for="email">Email</label> -->
                    <input type="text" name="school" class="form-control block w-full px-3 py-1.5 text-base font-normal border border-solid border-gray-300 rounded ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="School"
                    />

                </div>
                <div class="flex flex-col space-y-2">
                    <!-- <label class="text-sm font-light" for="email">Email</label> -->
                    <input type="text" name="course" class="form-control block w-full px-3 py-1.5 text-base font-normal border border-solid border-gray-300 rounded ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Course"
                    />

                </div>
            </div>
            <div class="flex flex-col space-y-2">
                <!-- <label class="text-sm font-light" for="email">Email</label> -->
                <input type="text" name="email" class="form-control block w-full px-3 py-1.5 text-base font-normal border border-solid border-gray-300 rounded ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Eamil"
                />

            </div>
            <div class="grid grid-cols-2 gap-4">
                <div class="flex flex-col space-y-2">
                    <!-- <label class="text-sm font-light" for="email">Email</label> -->
                    <input type="password" name="password" class="form-control block w-full px-3 py-1.5 text-base font-normal border border-solid border-gray-300 rounded ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Password "
                    />

                </div>
                <div class="flex flex-col space-y-2">
                    <!-- <label class="text-sm font-light" for="email">Email</label> -->
                    <input type="password" name="password_confirm" class="form-control block w-full px-3 py-1.5 text-base font-normal border border-solid border-gray-300 rounded ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none "
                        placeholder="Password  Confirm" />
                </div>
            </div>
            <button class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out
                        w-full mb-3 " type="submit " data-mdb-ripple="true " data-mdb-ripple-color="light " style="background: linear-gradient( to right, #ee7724, #d8363a, #dd3675, #b44593); ">Sign Up</button>
            <div class="flex items-center justify-between pb-6 ">
                <p class="mb-0 mr-2 ">Don't have an account?</p>
                <a href="/login " class="inline-block px-6 py-2 border-2 border-red-600 text-red-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out
                        " data-mdb-ripple="true " data-mdb-ripple-color="light ">Log In</a>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " crossorigin="anonymous "></script>
    <script src="../js/scripts.js "></script>
</body>

</html>

</html>